---
/**
 * AnchorSection component
 * Creates a section with an id anchor and emoji prefix and a link.
 *
 * @example
 * <AnchorSection emoji="📖" id="introduction" text="Contenu de la section" url="https://google.fr/" />
 * Renders:
 * <div>
 *  <span id="introduction">📖</span>
 *  <a href="https://google.fr/?utm_source=cocoweb.fr">Contenu de la section</a>
 * </div>
 */

interface Props {
  emoji: string;
  id: string;
  text: string;
  url: string;
  componentClass?: string;
}

const { emoji, id, text, url, componentClass = "" } = Astro.props;
---

<div
  class:list={componentClass}
  class="flex gap-2 hover:text-primary transition-colors duration-200 font-display text-xl text-foreground w-fit"
>
  <span id={id}>{emoji}</span>
  <a
    href={`${url}?utm_source=cocoweb.fr`}
    class="underline underline-offset-4 hover:decoration-primary">{text}</a
  >
</div>
